.character {
    height: 67px;
    width: 67px;
    position: absolute;
}

.characterTransition {
    transition: margin .2s;
}

.left {
    transform: scaleX(-1);
}

.right {
    transform: scaleX(1);
}