.gameContainer {
    height: 100%;
    width: 1100px;
    background: rgba(255, 91, 91, 0.3);
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 275px 675px;
    align-items: center;
    justify-content: space-around;
}

.sidePanel {

}