.btn {
    width: 80px;
    height: 80px;
    font-size: 30px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    background: #f8f8f8;
}

.btn:active {
    background: #ececec;
}